<div id="box">

  <% if(error) {%>
    <div class="error-container">
      <p>
        <%= error%>
      </p>
    </div>
    <% } %>


      <nav>
        <!-- Do not forget to change the path to the image -->
        <a href="/">
          <img src="/static/img/logo.png" alt="logo">
        </a>

        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/all-posts">All Posts</a></li>
          <% if(isAuth) {%>
            <li><a href="/create-new-post">Create Post</a></li>
            <li><a href="/my-posts">
                "Posts" userEmail
              </a></li>
            <li><a href="/logout">Logout</a></li>
            <%} else { %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
              <% } %>
        </ul>

      </nav>
      <main>